In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim

data = pd.read_csv("./temp.csv")

In [2]:
geolocator = Nominatim(user_agent="myGeocoder")
location = geolocator.geocode("Malaysia")
print((location.latitude, location.longitude))

(4.5693754, 102.2656823)

In [2]:
# Open shape file
countries = gpd.read_file("data/shape_files/TM_WORLD_BORDERS-0.3.shp")
# Rename country for matching
data["country"] = data["country"].replace({"US": "United States", "Iran": "Iran (Islamic Republic of)",
                                       "South Korea": "Korea, Republic of", "China Hong Kong SAR": "Hong Kong",
                                       "Trinidad & Tobago": "Trinidad and Tobago", "Vietnam": "Viet Nam",
                                       "Russian Federation": "Russia"})
# Match with shape file
data_new = data.merge(countries, left_on="country", right_on="NAME")

In [3]:
data_new = data_new[['country', 'emissions', 'renewables', 'LON', 'LAT']]

In [4]:
data_new.head()

               country   emissions  renewables      LON     LAT
0               Canada  550.294100   45.304938 -109.433  59.081
1  Trinidad and Tobago   20.717074    0.003989  -61.253  10.468
2            Venezuela  123.709744    0.010008  -66.166   7.125
3              Austria   61.201093   12.241908   14.912  47.683
4              Belgium  129.590742   16.867842    4.664  50.643

In [5]:
data_new.to_csv("./data/carbon_world_geocoding.csv", index=False)

In [ ]:
# Convert Shape file to match BP dataset
.replace({"United States":"US", "Iran (Islamic Republic of)": "Iran",
    "Korea, Republic of":"South Korea", "Hong Kong":"China Hong Kong SAR",
    "Trinidad and Tobago":"Trinidad & Tobago", "Viet Nam":"Vietnam",
    "Russia":"Russian Federation"})